<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div style="text-align: center;">
            <div class="section-heading" id="chat-text">Contact</div>

        <div class="extra-links" style="text-align: center;">
            <span class="hint--bottom bottom-link" aria-label="Email">
                <a href="mailto:{{ site.email }}">
                    <i class="head-icon fas fa-envelope"></i>
                </a>
            </span>

            <span class="hint--bottom bottom-link" aria-label="CV">
                <a href="/assets/cv.pdf" download>
                    <i class="head-icon fas fa-file-pdf"></i>
                </a>
            </span>
        </div>
    </section>
</div>
