<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div style="text-align: center;">
            <div class="section-heading" id="chat-text">About</div>

            <p class="paragraph-text justify-text" style="display: inline-block; text-align: left;">
                Hello!<br />
                I am undergraduate in Gwangju Institute of Science and Technology.<br /><br />
                My research field is mainly on <strong>acoustic instabilities</strong> in rocket injector and <strong>dynamics of rocket injector</strong>.
            </p>

            <div class="extra-links" style="text-align: center;">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="PGP Key">
                <a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc"><i class="head-icon fas fa-key"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>
