<div class="section-wrapper">
  <section class="section skills" id="skills">
    <div>
      <div class="section-heading" id="skills-text">Skills</div>

      <div class="skills-grid" style="display:flex; justify-content:center;">
        <div class="technical-skills" style="width:100%; max-width:700px; text-align:center;">
          <h3 class="center-align skills-subsection">Technical</h3>

          <div class="progress-bars" style="text-align:left; margin:0 auto; max-width:600px;">
            <div class="skillbar clearfix " data-percent="90%">
              <div class="skillbar-title" style="background: #2980b9;"><span>Javascript</span></div>
              <div class="skillbar-bar" style="background: #3498db;"></div>
            </div>

            <div class="skillbar clearfix " data-percent="85%">
              <div class="skillbar-title" style="background: #2980b9;"><span>ReactJS</span></div>
              <div class="skillbar-bar" style="background: #3498db;"></div>
            </div>

            <div class="skillbar clearfix " data-percent="80%">
              <div class="skillbar-title" style="background: #2980b9;"><span>GNU/Linux</span></div>
              <div class="skillbar-bar" style="background: #3498db"></div>
            </div>

            <div class="skillbar clearfix " data-percent="75%">
              <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
              <div class="skillbar-bar" style="background: #3498db;"></div>
            </div>

            <div class="skillbar clearfix " data-percent="75%">
              <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
              <div class="skillbar-bar" style="background: #3498db;"></div>
            </div>

            <div class="skillbar clearfix " data-percent="70%">
              <div class="skillbar-title" style="background: #2980b9"><span>Flask</span></div>
              <div class="skillbar-bar" style="background: #3498db;"></div>
            </div>

            <div class="skillbar clearfix " data-percent="70%">
              <div class="skillbar-title" style="background: #2980b9"><span>InfoSec</span></div>
              <div class="skillbar-bar" style="background: #3498db"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
